@mixin t-al-left {
    text-align: left;
}
@mixin t-al-center {
    text-align: center;
}
@mixin t-al-right {
    text-align: right;
}

@mixin t-al-bot {
    vertical-align: sub;
}
@mixin t-al-mid {
    vertical-align: middle;
}
@mixin t-al-top {
    vertical-align: top;
}
