.btn-primary {
    background-color: #126e82;
    border: 2px solid #126e82;
}

.btn-primary:hover {
    background-color: #51c4d3;
    border: 2px solid #51c4d3;
}

.btn-outline-primary {
    border: 2px solid #126e82;
    color: #126e82;
}

.btn-outline-primary:hover {
    background-color: #51c4d3;
    border: 2px solid #51c4d3;
}

.studenttitle {
    margin-left: 20px !important;
    margin-right:20px !important;
}

body {
    background-image: linear-gradient(to bottom right, #132c33, #51c4d3);
    background-repeat: no-repeat;
}

.bg-list-head {
    background-color: #132c33;
}

.fs{
    height: 100vh; /* For 100% screen height */
    width:  100vw; /* For 100% screen width */
}

.container {
    padding-top: 5%;
    padding-left: 180px;
    padding-right: 180px;
    max-width: 720px;
}

.conform {
    padding-top: 5%;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 720px;
}

.form-title {
    color: #132c33;
}
.cst-form {
    border-radius:25px;
    border: 2px solid #126e82;
    background-color: #d8e3e7;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

.ml-10 {
    margin-left: 10px;
}

.mt-3 {
    margin-top: 3em !important;
}

.test {
    display: inline-block;
}

.pd-0{
    padding: 0;
}

.flx {
    display: flex;
}

.row {
    margin: 2em;
}

.form-row {
    margin: 0;
}

.al-center {
    text-align: center;
}

.maxheight {
    height : 730px;
}

.wd-150 {
    width: 150px;
}

.wd-250 {
    width : 250px;
}

.hg-50 {
    height : 50px;
}

.pad-t-2 {
    padding-top: 2px;
}

.pad-b-2 {
    padding-bottom: 2px;
}

.t-al-center {
    text-align: center;
}

.lf {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.mid {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.rt {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}